# Unity 빌드 캐시 및 시스템 폴더 무시
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
*.unityproj
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.exe
*.apk
*.dll
*.db
*.opendb
*.pidb.meta
sysinfo.txt

# OS 파일 무시
.DS_Store
Thumbs.db
